*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.banner{
    background: rgb(66, 69, 78);
    /* height: 100vh; */
    min-height: 100vh;
    height: auto;
    width: 100%;
}
.navbar-left{
    float: left;
}
.navbar-left li{
    display: inline-block;
    padding: 0px 20px
}
.navbar-left li a{
    color: white;
    font-size:10px;
    letter-spacing: 3px;
    font-weight: bolder;
}
.navbar-right{
    float: right
}
.navbar-right li{
    display: inline-block;
    color: white;
    font-size:12px;
    letter-spacing: 3px;
    font-weight: bolder;
    padding: 0px 20px
}
.banner-text{
    /* padding-top: 30vh; */
    padding-left: 50px;
    color: white;
    clear: both;
}
.top{
    padding-top: 25vh
}
.banner-text p:first-child{
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: bolder;
}
.banner-text h3{
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 50px;
}
.banner-text p.small{
    font-size: 10px;
    font-weight: bolder;
    opacity: 0.5;
}
.buttons{
    padding-left: 60px
}
.btn{
    font-weight: bolder;
    font-size: 10px;
    margin: 10px;
}